extends layout

block content
	.overlay.hidden
		.dialog#dialog-next.hidden
			.message Click the button below to move <br> to the next item.
			button next 
				i.fa.fa-long-arrow-right
		.dialog#dialog-welcome
			.message 
				p The following 30 trials will get you acquainted with one command selection interface. 
				p In each trial, a command icon and its name will be presented in a prompt to the left of the screen. Your task is to click on the displayed command in the editor menu as quickly and accurately as possible. Incorrect selections will produce an audible beep. You will not be permitted to move to the next command until you make the correct selection.
			button begin
	nav.navbar
		.title #Doc.ly
		.navbar-tabs.hidden
			.tab.navbar-tab-active
				.label font
			.tab 
				.label paragraph
			.tab 
				.label drawing
			.tab
				.label insert
			.tab
				.label clipboard
	.container
		include ribbon.jade
		.document
			#prompt-container 
				.prompt Please select the following: 
				.ribbon
					.item
						i.fa.fa-eraser
				.item-name eraser
			.text(contentEditable=true)

