extends layout

block content
	#overlay-container.overlay.hidden
	nav.navbar
		.title I HATE EVERYTHING
		.navbar-tabs.hidden
			.tab
				.label font
			.tab 
				.label paragraph
			.tab 
				.label drawing
			.tab
				.label insert
			.tab
				.label clipboard
	#body-container
