doctype html
html
	head
		title= title
		//- script loads require.js which then loads other JS as needed modularly 
		script(data-main="/javascripts/main", src="/javascripts/libraries/require.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
	body
		block content
