doctype html
html
	head
		title= title
		script(data-main="/javascripts/main", src="/javascripts/libraries/require.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Open+Sans:300italic,400italic,400,700,300,600')
	body
		block content
