.ribbon#ribbon-drawing
	.item
		i.fa.fa-pencil
	.item
		i.fa.fa-paint-brush
	.item
		i.fa.fa-eraser
	.item
		i.fa.fa-eyedropper
	.item
		i.fa.fa-tint
	.item
		i.fa.fa-magic
	.item
		i.fa.fa-circle-o
	.item
		i.fa.fa-square-o
	.item
		i.fa.fa-minus
	.item
		i.fa.fa-crop
	.item
		i.fa.fa-rotate-left
	.item
		i.fa.fa-rotate-right