.ribbon#ribbon-symbols
	.item
		i.fa.fa-arrow-left
	.item 
		i.fa.fa-arrow-right
	.item 
		i.fa.fa-arrow-up
	.item
		i.fa.fa-arrow-down
	.item
		i.fa.fa-circle
	.item
		i.fa.fa-times
	.item
		i.fa.fa-heart
	.item
		i.fa.fa-star
	.item
		i.fa.fa-asterisk
	.item
		i.fa.fa-euro
	.item
		i.fa.fa-jpy
	.item
		i.fa.fa-gbp