.ribbon#ribbon-paragraph
	.item
		i.fa.fa-paragraph
	.item
		i.fa.fa-align-left
	.item
		i.fa.fa-align-center
	.item
		i.fa.fa-align-right
	.item
		i.fa.fa-align-justify
	.item
		i.fa.fa-columns
	.item
		i.fa.fa-indent
	.item
		i.fa.fa-outdent
	.item
		i.fa.fa-list-ol
	.item
		i.fa.fa-list-ul
	.item
		i.fa.fa-sort-alpha-asc
	.item 
		i.fa.fa-sort-alpha-desc