.ribbon#ribbon-font
	.item
		i.fa.fa-font
	.item
		i.fa.fa-bold
	.item
		i.fa.fa-italic
	.item
		i.fa.fa-underline
	.item
		i.fa.fa-strikethrough
	.item
		i.fa.fa-subscript
	.item
		i.fa.fa-superscript
	.item
		i.fa.fa-text-width
	.item
		i.fa.fa-text-height
	.item
		i.fa.fa-header
	.item
		i.fa.fa-code
	.item
		i.fa.fa-link