.ribbon#ribbon-insert
	.item
		i.fa.fa-folder-open
	.item 
		i.fa.fa-table
	.item 
		i.fa.fa-area-chart
	.item
		i.fa.fa-pie-chart
	.item
		i.fa.fa-bar-chart
	.item
		i.fa.fa-line-chart
	.item
		i.fa.fa-file-word-o
	.item
		i.fa.fa-file-excel-o
	.item
		i.fa.fa-file-pdf-o
	.item
		i.fa.fa-picture-o
	.item
		i.fa.fa-file-audio-o
	.item
		i.fa.fa-file-video-o