<div class="dialog">
	<div class="title">Command Selection Interfaces</div>
	<div class="message"> Each part of this experiment will consist of a number of trials. In each trial, a command icon and its name will be presented in a prompt to the left of the screen. Your task is to click on the displayed command in the editor menu as quickly and accurately as possible. Incorrect selections will produce an audible beep. You will not be permitted to move to the next command until you make the correct selection. </div>
	<button id="btn-begin">Begin</button>
</div>
