<nav class="navbar">
	<div class="navbar-message">Press the 'alt' key to bring up the command menu.</div>
	<div class="navbar-tabs">
		<div class="tab" id="tab-font" data-name="font"><div class="label">font</div></div>
		<div class="tab" id="tab-paragraph" data-name="paragraph"><div class="label">paragraph</div></div>
		<div class="tab" id="tab-insert" data-name="insert"><div class="label">insert</div></div>
		<div class="tab" id="tab-drawing" data-name="drawing"><div class="label">drawing</div></div>
		<div class="tab" id="tab-symbols" data-name="symbols"><div class="label">symbols</div></div>
	</div>
</nav>
<div id="main-container">
	<button id="button-next">Next Item  <i class="fa fa-long-arrow-right"></i> </button>
	<div class="document">
		<div id="ribbon-container">
			<div class="ribbon" id="ribbon-font">
				<div class="item" data-id="0"><i class="fa fa-font"></i></div>
				<div class="item" data-id="1"><i class="fa fa-bold"></i></div>
				<div class="item" data-id="2"><i class="fa fa-italic"></i></div>
				<div class="item" data-id="3"><i class="fa fa-underline"></i></div>
				<div class="item" data-id="4"><i class="fa fa-strikethrough"></i></div>
				<div class="item" data-id="5"><i class="fa fa-subscript"></i></div>
				<div class="item" data-id="6"><i class="fa fa-superscript"></i></div>
				<div class="item" data-id="7"><i class="fa fa-text-width"></i></div>
				<div class="item" data-id="8"><i class="fa fa-text-height"></i></div>
				<div class="item" data-id="9"><i class="fa fa-header"></i></div>
				<div class="item" data-id="10"><i class="fa fa-code"></i></div>
				<div class="item" data-id="11"><i class="fa fa-link"></i></div>
			</div>
			<div class="ribbon" id="ribbon-paragraph">
				<div class="item" data-id="12"><i class="fa fa-paragraph"></i></div>
				<div class="item" data-id="13"><i class="fa fa-align-left"></i></div>
				<div class="item" data-id="14"><i class="fa fa-align-center"></i></div>
				<div class="item" data-id="15"><i class="fa fa-align-right"></i></div>
				<div class="item" data-id="16"><i class="fa fa-align-justify"></i></div>
				<div class="item" data-id="17"><i class="fa fa-columns"></i></div>
				<div class="item" data-id="18"><i class="fa fa-indent"></i></div>
				<div class="item" data-id="19"><i class="fa fa-outdent"></i></div>
				<div class="item" data-id="20"><i class="fa fa-list-ol"></i></div>
				<div class="item" data-id="21"><i class="fa fa-list-ul"></i></div>
				<div class="item" data-id="22"><i class="fa fa-sort-alpha-asc"></i></div>
				<div class="item" data-id="23"><i class="fa fa-sort-alpha-desc"></i></div>
			</div>
			<div class="ribbon" id="ribbon-insert">
				<div class="item" data-id="24"><i class="fa fa-folder-open"></i></div>
				<div class="item" data-id="25"><i class="fa fa-table"></i></div>
				<div class="item" data-id="26"><i class="fa fa-area-chart"></i></div>
				<div class="item" data-id="27"><i class="fa fa-pie-chart"></i></div>
				<div class="item" data-id="28"><i class="fa fa-bar-chart"></i></div>
				<div class="item" data-id="29"><i class="fa fa-line-chart"></i></div>
				<div class="item" data-id="30"><i class="fa fa-file-word-o"></i></div>
				<div class="item" data-id="31"><i class="fa fa-file-excel-o"></i></div>
				<div class="item" data-id="32"><i class="fa fa-file-pdf-o"></i></div>
				<div class="item" data-id="33"><i class="fa fa-file-picture-o"></i></div>
				<div class="item" data-id="34"><i class="fa fa-file-audio-o"></i></div>
				<div class="item" data-id="35"><i class="fa fa-file-video-o"></i></div>
			</div>
			<div class="ribbon" id="ribbon-drawing">
				<div class="item" data-id="36"><i class="fa fa-pencil"></i></div>
				<div class="item" data-id="37"><i class="fa fa-paint-brush"></i></div>
				<div class="item" data-id="38"><i class="fa fa-eraser"></i></div>
				<div class="item" data-id="39"><i class="fa fa-eyedropper"></i></div>
				<div class="item" data-id="40"><i class="fa fa-tint"></i></div>
				<div class="item" data-id="41"><i class="fa fa-magic"></i></div>
				<div class="item" data-id="42"><i class="fa fa-circle-o"></i></div>
				<div class="item" data-id="43"><i class="fa fa-square-o"></i></div>
				<div class="item" data-id="44"><i class="fa fa-minus"></i></div>
				<div class="item" data-id="45"><i class="fa fa-crop"></i></div>
				<div class="item" data-id="46"><i class="fa fa-rotate-left"></i></div>
				<div class="item" data-id="47"><i class="fa fa-rotate-right"></i></div>
			</div>
			<div class="ribbon" id="ribbon-symbols">
				<div class="item" data-id="48"><i class="fa fa-arrow-left"></i></div>
				<div class="item" data-id="49"><i class="fa fa-arrow-right"></i></div>
				<div class="item" data-id="50"><i class="fa fa-arrow-up"></i></div>
				<div class="item" data-id="51"><i class="fa fa-arrow-down"></i></div>
				<div class="item" data-id="52"><i class="fa fa-circle"></i></div>
				<div class="item" data-id="53"><i class="fa fa-times"></i></div>
				<div class="item" data-id="54"><i class="fa fa-heart"></i></div>
				<div class="item" data-id="55"><i class="fa fa-star"></i></div>
				<div class="item" data-id="56"><i class="fa fa-asterisk"></i></div>
				<div class="item" data-id="57"><i class="fa fa-euro"></i></div>
				<div class="item" data-id="58"><i class="fa fa-jpy"></i></div>
				<div class="item" data-id="59"><i class="fa fa-gbp"></i></div>
			</div>
		</div>
		<div id="prompt-container"></div>
	</div>
</div>
