<div class="dialog">
	<div class="message">
		<p> The following 90 trials will repeat the previous exercise. </p>
		<p> As before, in each trial, a command icon and its name will be presented in a prompt to the left of the screen. Your task is to click on the displayed command in the editor menu as quickly and accurately as possible. Incorrect selections will produce an audible beep. You will not be permitted to move to the next command until you make the correct selection. </p>
	</div>
	<button id="btn-begin-four">Begin Part Four</button>
</div>
