/* colors */
@gray: #CCCCCC;
@dark-gray: #333333;
@white: #FFFFFF;
@light-peach: #FCF9F2;
@light-blue: #E4F0F5;
@black-60: rgba(0, 0, 0, .6);
@black-30: rgba(0, 0, 0, .3);
@black-90: rgba(0, 0, 0, .9);
@black: #000;
@aqua: #00D1B5;
@magenta: #FF0043;

/* dimens */
@doc-width: 750px;
@font-small: 15px;
@font-large: 24px;
@font-xlarge: 30px;

/* mixins */
.shadow(@radius: 8px, @color: @black-60) {
	-webkit-box-shadow: 0 0 @radius @color;
		box-shadow: 0 0 @radius @color;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
          border-radius: @radius;
}

.header-text {
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}
.vertical-align {
	position: relative;
  	top: 50%;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}

/* base */

body, html {
	font: 14px "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 200;
	background: @light-peach;
	height: 100%;
	margin: 0;
}
button {
	display: block;
	.header-text();
	text-align: center;
	margin: 0 auto;
	background: @aqua;
	color: @white;
	font-size: @font-large;
	padding: 10px 30px;
	border: 0;
	outline: 0;
	.shadow(10px, @black-60);
	&:hover {
		cursor: pointer;
	}
}
#button-next {
	position: relative;
	top: 300px;
	z-index: 1000;
}

.hidden {
	display: none !important;
}

/* overlay */

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: @black-90;
	z-index: 100;

	.dialog {
		height: 250px;
		width: 800px;
		margin: 150px auto;
		text-align: left;
		color: @white;

		.title {
			.header-text();
			font-size: @font-xlarge;
		}

		.message {
			margin: 50px 0;
			font-size: @font-large;
		}

		.banner {
			margin: 50px 0;
			text-align: center;
			font-size: @font-xlarge;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
		    color: @dark-gray;
		    opacity: 1 !important;
		    font-weight: 500;
		}

		form {
			input {
				font: 14px "Open Sans", Helvetica, Arial, sans-serif;
				font-weight: 200;
				background-color: transparent;
				border: 0;
	    		border-bottom: 2px @dark-gray solid;
	    		outline: 0;
	    		color: @white;
	    		font-size: @font-large;

	    		&::-webkit-outer-spin-button, 
	    				&::-webkit-inner-spin-button {
	    			-webkit-appearance: none;
    				margin: 0;
	    		}
			}

			.prompt {
				margin-right: 15px;
			}

			.error {
				position: relative;
				left: -200px;
				top: 30px;
				color: @magenta;
				font-size: @font-small;
				text-transform: uppercase;
				visibility: hidden;

				&.show-error {
					visibility: visible;
				}
			}

			.inline {
				display: inline-block;
				width: 250px;
			}

			.input-short {
				max-width: 75px;
			}

			#input-age {
				text-align: center;
			}

			& > * {
				padding: 20px 0px;
			}
		}
	}
}

/* main */

#body-container {
	height: 100%;
	width: 100%;
}
#main-container {
	height: 100%;
	margin: 0 auto;
	width: @doc-width;
	position: relative;
}

.navbar {
	text-transform: uppercase;
	color: @gray;
	letter-spacing: 2px;
	background: @black;
	position: absolute;
	z-index: 10;
	left: 0; right: 0;
	height: 50px;
	.navbar-message {
		text-align: center;
		width: @doc-width;
		margin: 0 auto;
		padding-top: 14px;
		height: 100%;
		font-size: 16px;
	}
	.navbar-tabs {
		width: @doc-width;
		margin: 0 auto;
		height: 100%;
		.tab {
			float: left;
			padding: 0 20px;
			height: 100%;
			&:hover {
				cursor: pointer;
			}
			&.navbar-tab-active {
				background: @dark-gray;
				color: @white;
			}
			.label {
				.vertical-align();
			}
		}
	}
	.shadow(8px, @black-60);
}

/* ribbon */

.ribbon {
	z-index: 150;
	font-size: 20px;
	.shadow(8px, @black-60);
	display: inline-block;
	&.ribbon-active {
		position: absolute;
		top: 50px;
	}
	height: 45px;
	.item {
		background: @dark-gray;
		color: @white;
		float: left;
		width: 55px;
		text-align: center;
		border-right: 1px solid @black;
		height: 100%;
		i {
			margin-top: 12px;
		}
		&:hover {
			cursor: pointer;
		}
		&.clicked {
			color: @black;
		}
	}
}

#ribbon-container {
	position: absolute; 
	&.mode-command-maps {
		top: 100px;
		left: 40px;
	}
	&.mode-ribbon {
		top: 50px;
	}
}

.document {
	background: @white;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
	.shadow(4px, @black-30);
	.text {
		display:none;
		position: relative;
		padding: 120px 80px 80px 80px;
		overflow: hidden;
		&:focus {
			outline: none;
		}
	}

	#prompt-container {
		position: absolute;
		z-index: 10;
		height: 150px;
		width: 150px;
		top: 200px;
		left: -200px;
		text-align: center;

		.prompt {
			padding-bottom: 18px;
		}
		#item-name {
			padding-top: 7px; 
			.header-text();
		}
		&::after {
			background: @dark-gray;
			height: 50px;
			width: 100%;
		}
	}
}